/* blog details page */
.blogDetails {

    h2 {
        font-size: 20px;
        color: #f1356d;
        margin-bottom: 10px;
    }

    div {
        margin: 20px 0;
    }

    button {
        background: #f1356d;
        color: #fff;
        border: 0;
        padding: 8px;
        border-radius: 8px;
        cursor: pointer;
    }
} 
