.navbar {
    padding: 20px;
    display: flex;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    border-bottom: 1px solid #f2f2f2;

    h1 {
        color: #f1356d;
    }
    
    .links {
        margin-left: auto;

        a {
            margin-left: 16px;
            text-decoration: none;
            padding: 6px;
            &:hover {
                color: #f1356d;
            }        
        }
    }     
}
 